<% layout('layout') %>

<% block('title','About Us'); -%>

<section class="container">
    <div class="history">
        <h4><span>&#8212</span> History <span>&#8212</span></h4>
        <p>
            Madam Juliana Okine is a Fifty-Five (55) year old Deputy Chief Physician Assistant with Master of Public
            Health (School of Public Health Legon). Currently with Ghana Health Service. I have been with Ghana Health Service for
            Thirty-Three (33) years from 1987 February to date and still in practice. Started as, a State Registered
            Nurse and State Registered Midwife before the above qualifications. Also has bachelor of Public Health Disease Control,
            (School of Public Health). I am the fifth of ten siblings,
            the experience and challenges that the family went through has also contributed towards this vision and
            it has taken the great love and help from God to reach this far.
            <div class="circle">
                <img src="/images/juli (2).jpeg">
            </div> A mother of three (3) children.
            A little push and support can change people’s destiny especially in the area of education.
            
            This Non-Governmental Organization (NGO) vision has been there for over 25 years now and because of
            that, I joined an Evangelistic Ministry which travelled to communities (villages all over Ghana).
            These place includes; Afram Plains(Eastern Region), Mpraeso (Kwahu), Abura Dunkwa (Central Region),
            Asesewa (Eastern region), Nkonya /Keta(Volta Region) and many more. People after receiving
            Christ were given food and clothings. Nature of work has also contributed to my exposure to very remote
            areas in Ghana like Mpasaaso (Ashanti Region), Dodowa, Ada and its communities, Amasaman (Greater Accra)
            and many more.
            The experience acquired here increases my passion because I realized how most of these people in these
            remote areas lacked basic needs or necessity of life. One could diagnose the community due to extreme
            poverty, poor road network, poor housing and hunger among the people.
            <br><br>
            Each year the passion deepens until 2013 when it reached its peak. It became a burden since on daily
            basis am faced with challenges that people go through (economic situation which manifested in the lives
            of patients who visited me in the consulting room. She had to start putting things (ideas into writing
            and find ways and means to get it implemented officially, thus the Juliana Holistic Healthcare Services.
            <a name="readmore" id="readmore" class="btn btn-light" role="button">Read More...</a>
        </p>
        <div class="hidden">
            <p>
                The knowledge and practice in medicine, public health (Disease control), social and behavioral
                science,
                midwifery and nursing, has made me notice so many challenges that individuals go through, realizing,
                most
                of these challenges need no medicine to cure but counseling, health education and social support to
                give
                them understanding of the situation and relief to make life meaningful. Lots of agitations have been
                calmed through approaches like these. Poverty has been one of the major challenges people face
                bringing
                lots of serious confusion and social vices making communities and society unhealthy.
            </p>
            <p>
                “I wouldn’t know how life would have been without education<br>
                How life would have been without parents<br>
                How life would have been without support<br>
                How life would have been without a job and<br>
                How life would have been without salvation”<br>
                These are the questions that run through the mind of Madam Juliana Okine (CEO) of Juliana Holistic
                Healthcare Services. Bridging the gap between the haves and have not through a little sharing and
                supporting the less privileged people in society can go a long way to help us build a better nation
                and a better world, with so many resources which is a gift to us all. We live in an environment
                which is a gift to us.<br>
                Blessed with so many resources, we therefore need to take care of this wonderful place where we live.
                Together making sure that our activities will not endanger the environment, hence the strong passion
                for environmental health especially sanitation and climate change especially mitigation and
                adaptation strategies.
            </p>
            <p>
                This passion is a call and a duty because there are several passages in the Bible that talks about
                Gods concern for the poor and the needy and our salvation in general.
                Some of these passages are as follows;
                <ul class="row" style="list-style: none;">
                    <div class="col-sm-4">
                        <li>James 1: 27</li>
                        <li>1 John 3:17</li>
                        <li>Isaiah 58 : 10</li>
                        <li>Acts 20 : 35</li>
                        <li>1st Timothy 4 : 12</li>
                    </div>
                    <div class="col-sm-4">
                        <li>Proverbs 22 : 9</li>
                        <li>Proverbs 21 : 13</li>
                        <li>Proverbs 31 : 20</li>
                        <li>1 Timothy 6 : 17 - 19</li>
                    </div>
                    <div class="col-sm-4">
                        <li>Proverbs 31 : 9</li>
                        <li>James 2 : 15 - 16</li>
                        <li>Ezekiel 16 : 49</li>
                        <li>Colossian 3 : 14</li>
                        <li>1st Peter 4 : 8</li>
                    </div>
                </ul>
            </p>
        </div>

    </div>

    <div class="Objectives">
        <h4><span>&#8212</span> General Objectives <span>&#8212</span></h4>
        <ul style="padding: 0 10px;">
            <li>To reduce premature death</li>
            <li>To reduce deformities and disabilities</li>
            <li>To promote health</li>
            <li>To bridge the gap between the haves and the have not</li>
            <li>To promote healthy lives for individuals, families and societies as a whole.</li>
        </ul>
    </div>

    <div class="mission">
        <div>
            <h5>Our Mission</h5>
            <p>To provide a Holistic Health Care Services to communities in a safe environment</p>
        </div>
        <div>
            <h5>Our Vision</h5>
            <p>To ensure that life becomes meaningful through the provision of high quality health care services all
                over the regions and to touch lives in other African countries</p>
        </div>
    </div>

    <div class="goals">
        <h4><span>&#8212</span> Goals <span>&#8212</span></h4>
        <p style="text-align: center;">The goals of Juliana Holistic Healthcare Services falls within the sustainable
            development goal 1,2,3,5
            and 13
        </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="background-color: rgb(229, 35, 61);">
                    <div class="card-body">
                        <h5 class="card-title">Goal 1</h5>
                        <p class="card-text">
                            End poverty and all it forms everywhere
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: rgb(221, 167, 58);">
                    <div class="card-body">
                        <h5 class="card-title">Goal 2</h5>
                        <p class="card-text">
                            End hunger, achieve food security and improve nutrition and promote sustainable
                            agriculture
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: rgb(76, 161, 70);">
                    <div class="card-body">
                        <h5 class="card-title">Goal 3</h5>
                        <p class="card-text">
                            Ensure healthy life and promote well being for all at all ages
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-sm-4">
                <div class="card" style="background-color: rgb(238, 130, 238);">
                    <div class="card-body">
                        <h5 class="card-title">Goal 5</h5>
                        <p class="card-text">
                            Achieve gender equality and empower all women and girls
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: rgb(64, 127, 70); color: white;">
                    <div class="card-body">
                        <h5 class="card-title">Goal 13</h5>
                        <p class="card-text">
                            Take urgent action to combat climate change and its impact
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="registra">
        <h4>Registration</h4>
        <p>Juliana Holistic Healthcare Services is a registered Non-Governmental Organization(NGO) under : </p>
        <ol style="padding: 0 10px;">
            <li>Registral General Department Of Ghana</li>
            <li>Department Of Social Welfare, Ghana</li>
            <li>West African civil social Institute (WASCI)</li>
        </ol>
    </div>

    <div class="ceo">
        <h4>Message From The CEO</h4>
        <p>The big book (The Bible) says beloved,<b>
            <i> I wish above all things that thou mayest prosper and be in good
                health, even as thy soul prospereth. (3 John 1:2)</i>
        </b>
        </p>
        <p>
            This is the wish of the creator of you and I and everyone in the world.
            The definition of health states “Health is a state of complete, physical and mental and social well
            being and not merely the absence of disease or infirmity. It takes being physically strong, mentally
            sound and having all the social determinants of health to determine your health status. This social
            determinants includes;
            <ul class="row" style="padding:0 10px;">
                <div class="col-sm-4">
                    <li>Access to health care</li>
                    <li>Education </li>
                    <li>Unemployment and job security</li>
                    <li>Poverty</li>
                </div>
                <div class="col-sm-4">
                    <li>Income and Income distribution</li>
                    <li>Employment and working condition</li>
                    <li>Social safety network</li>
                    <li>Gender equality</li>
                </div>
                <div class="col-sm-4">
                    <li>Ethnicity</li>
                    <li>Housing</li>
                    <li>Social Exclusion and</li>
                    <li>Food security</li>
                </div>
            </ul>
        </p>
    </div>

    <div class="others">
        <h4>future project to Establish Static Services</h4>
        <ul style="padding: 0 20px;">
            <li>A holistic centre with homeless shelter for the homeless, the less privilege ones in the poor,
                the poor, the aged, the disabled, poor single mothers
            </li>
            <li>
                Rehabilitation centre to get these people rehabilitated and kicked back to the society
            </li>
            <li>
                Training centre to get the youth trained in computer, seam stressing, catering, bead making and
                other vocational skills so that take care of themselves in society
            </li>
            <li>
                Clinic to serve the community which would serve as a source to generate funds internally to serve
                as a support to get the NGO sustain financially
            </li>
            <li>
                Farmlands for farming to support the vision
            </li>
        </ul>
    </div>
</section>
