<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="shortcut icon" type="image/png" href="/images/juliana holistic 1.jpg">
    <title><%=blocks.title%> | Juliana's Holistic health care services </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header>
        <div class="header1">
            <div class="image">
                <img src="/images/juliana holistic 1.jpg">
            </div>
            <div class="comp_name">
                <h3 class="display-4">Juliana's Holistic health care services</h3>
            </div>
        </div>
    </header>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success btn-lg" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success btn-lg" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn btn-outline-success btn-lg dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contacts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="tel:+233263121384">
                            <i class="fa fa-phone-square" aria-hidden="true"></i> +233263121384
                        </a>
                        <a class="dropdown-item" href="tel:+233254588477"> 
                            <i class="fa fa-phone-square" aria-hidden="true"></i> +233254588477
                        </a>
                        <a class="dropdown-item" href="https://web.facebook.com/julianaholistichealthcareservices/">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            Juliana's Holistic health care services
                        </a>
                        <a class="dropdown-item" href="mailto:julianaokine10@yahoo.com">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            julianaokine10@yahoo.com
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn btn-outline-success btn-lg dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Holistichealth">Holistic Health Service</a>
                        <a class="dropdown-item" href="/Humanitarian">Humanitarian Service</a>
                        <a class="dropdown-item" href="/Empowerment">Empowerment of Evangelist</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success btn-lg" href="/others">Others</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="" style="margin-bottom: 5px;">
        <div id="carouselContent" class="carousel slide" data-ride="carousel" style="height: auto;">
            <ol class="carousel-indicators">
                <li data-target="#carouselContent" data-slide-to="0" class="active"></li>
                <li data-target="#carouselContent" data-slide-to="1"></li>
                <li data-target="#carouselContent" data-slide-to="2"></li>
                <li data-target="#carouselContent" data-slide-to="3"></li>
                <li data-target="#carouselContent" data-slide-to="4"></li>
                <li data-target="#carouselContent" data-slide-to="5"></li>
                <li data-target="#carouselContent" data-slide-to="6"></li>
                <li data-target="#carouselContent" data-slide-to="7"></li>
                <li data-target="#carouselContent" data-slide-to="8"></li>
                <li data-target="#carouselContent" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4" id="bible">
                    <h5>James 1 : 27</h5>
                    <p>Pure religion and undefiled before God and the Father is this, To visit the fatherless and widows
                        in their affliction, and to keep himself unspotted from the world.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>1 John 3 : 17</h5>
                    <p>But whoso* hath this world's good, and seeth his brother have need, and shutteth up his bowels of
                        compassion from him, how dwelleth the love of God in him?</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Isaiah 58 : 10</h5>
                    <p>And if thou draw out thy soul to the hungry, and satisfy the afflicted soul; then shall thy light
                        rise in obscurity, and thy darkness be as the noonday:</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Proverbs 22 : 9</h5>
                    <p>He that hath a bountiful eye shall be blessed; for he giveth of his bread to the poor.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Proverbs 21 : 13</h5>
                    <p>Whoso stoppeth his ears at the cry of the poor, he also shall cry himself, but shall not be
                        heard.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Proverbs 31 : 20</h5>
                    <p>She stretcheth out her hand to the poor; yea, she reacheth forth her hands to the needy.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>1 Peter 4 : 8</h5>
                    <p>And above all things have fervent charity among yourselves: for charity shall cover the multitude
                        of sins.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Colossain 3 : 14</h5>
                    <p>And above all these things put on charity, which is the bond of perfectness.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Ezekiel 16 : 49</h5>
                    <p>Behold, this was the iniquity of thy sister Sodom, pride, fulness of bread, and abundance of
                        idleness was in her and in her daughters, neither did she strengthen the hand of the poor and
                        needy.</p>
                </div>
                <div class="carousel-item text-center p-4" id="bible">
                    <h5>Proverbs 31 : 9</h5>
                    <p>Open thy mouth, judge righteously, and plead the cause of the poor and needy.</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
    
    <%-body%>

    <a href="#" class="anchorarr">
        <div class="arrowup">&#8593</div>
    </a>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="donation">
                        <h4>Your Donations Are Welcome</h4>
                        <div class="details">
                            <div class="row">
                                <div class="col-md-6">
                                    Mobile Money Network
                                </div>
                                <div class="col-md-6">
                                    MTN
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Number
                                </div>
                                <div class="col-md-6">
                                    +233 555 658 414
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    Account Name
                                </div>
                                <div class="col-md-6">
                                    Juliana Okine
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    Branch
                                </div>
                                <div class="col-md-6">
                                    All branches
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="contacts">
                        <h4>
                            Contact Us <svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                        </h4>
                        <div class="numbers">
                            <a href="tel:+233263121384">+233263121384</a>
                            <a href="tel:+233254588477">+233264588477</a>
                        </div>
                    </div>
                    <div class="media">
                        <h5>Media</h5>
                        <div>
                            Email : <a href="mailto:julianaokine10@yahoo.com">julianaokine10@yahoo.com</a>
                            <br>
                            Facebook : <a href="https://web.facebook.com/julianaholistichealthcareservices/">
                                Juliana's Holistic health care services
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
<!-- JS, Popper.js, and jQuery -->
<script src="/javascripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 200) {
                $('.arrowup').css("display", "block");
            } else {
                $('.arrowup').css("display", "none");
            }
        })

        $('.hidden').hide();

        $('#readmore').click(function(){
            $('.hidden').toggle();
        })

    })
</script>

</html>