<% layout('layout') %>

<% block('title','Humanitarian'); -%>

<section class="container">
    <div class="section1a" style="margin-top: 10px;">
        <div>
            <h4>
                Mental Health Education
            </h4>
            <p>
                Mental health education is our next prior target at our holistic health care education and service
                center. Mental illness is something that is very least understood among many people, its symptoms are
                late detected hence difficult to cure; this is basically because of the lack of education and discussion
                of the topic in question. The orgarnization would be advocating for mental health and avoidance of Stigmatization.
            </p>
        </div>
        <div>
            <h4>First Aid</h4>
            <p>
                Education and service will also be an integral part of the holistic healthcare service and education,
                the communities that will be visited will be provided with this First Aid service. Education will be
                provided to schools, churches, markets and many public institutions, they will be taught best First Aid
                practices.
            </p>
        </div>
        <div>
            <h4>Mobile Healthcare Service</h4>
            <p>
                Our mobile healthcare service involves what we refer to as outreach programs that will be moving around
                the country to Schools, Churches, Offices, Homes, and DeprivedCommunities etc., to be providing them
                healthcare service.
            </p>
        </div>
        <div>
            <h4>Health Talks And Interactions With Other Medical Officers</h4>
            <p>
                At our center and everywhere our outreach services we shall liaise with medical officers and pharmacist
                within the communities and will transfer cases that may need immediate medical attention.
            </p>
            <p>
                Workshops and seminars will be held at both our holistic healthcare center and places around the country
                our mobile services will go. Our objective is to engage different health workers who will assist for us
                to deliver a holistic care within the communities. Our hope is that this will help bring a consensus on
                methods of diagnosis hence quick detection of common diseases which eventually will result in quick
                cure.
            </p>
        </div>
        <div>
            <h4>Philanthropy Work</h4>
            <ul style="padding: 0 20px;">
                <li>
                    Surveillance for non communicable diseases i.e. carrying screening programs in the communities,
                    churches and schools for hypertension, diabetes, cancers (cervical and breast), sickle cell disease,
                    hepatitis B, Parkinson’s disease, G6PD defects (Glucose 6 phosphate Dehydration) etc.
                </li>
                <li>
                    For early detection and diagnosis of disease for prompt medical attention.
                </li>
                <li>
                    To reduce diseases.
                </li>
                <li>
                    To reduce disabilities e.g. stroke
                </li>
                <li>
                    To reduce premature death.
                </li>
                <li>
                    Health education in churches, schools, communities to increase knowledge including pregnancy
                    education marriage education.
                </li>
                <li>
                    Care for the needy in society
                </li>
            </ul>
        </div>
    </div>
    <div
        style="background-color:  rgba(214, 213, 213, 0.651); border-radius: 10px; padding: 10px 10px; margin: 10px 0;">
        <div>
            <h4>
                Maternal Health Activities To Be Conducted As A Support For The Needy
            </h4>
            <p>
                In our humanitarian services support and assistant for the needy, Juliana Holistic Healthcare Services
                has special concerns for maternal health support activities. For many years now Juliana Holistic
                Healthcare Services has noticed how the government of the Republic of Ghana has been making tremendous
                efforts in assisting women.
            </p>
            <p>
                Pregnant women registered on the National Health Insurance scheme do not have to pay much to receive
                proper maternal healthcare, as a matter of fact registration unto the NHIS is free for pregnant women.
                However Juliana Holistic Healthcare Services recognizes that not everyone is able to gain access to
                these
                advantages and enjoy these privileges the republic of Ghana is providing for women, hence the special
                concern for maternal health support activities.
            </p>
            <p>
                We provide support and assistance to women through many ways and our main target are the poor,
                underprivileged and has not’s in society especially in rural areas. Our assistance and support
                activities
                include:
                <ul style="padding: 0 20px;">
                    <li>Payment of hospital bills for poor underprivileged pregnant women</li>
                    <li>
                        Free National Health Insurance Scheme registration for the poor (especially children and the
                        aged)
                    </li>
                    <li>
                        Support for school/exams fees for poor children
                    </li>
                    <li>
                        Support for medical examination fees for newly or unemployed pregnant women
                    </li>
                    <hr>
                    <li>
                        <b>Support for laboratory investigations : </b>
                        <ul style="padding: 0 10px;">
                            <li>
                                For poor HIV positive mothers who are
                                to be
                                placed on ART’s (Anti Retroviral Therapy)
                            </li>
                            <li>
                                For Hepatitis B mothers, for LFT (Liver Function Test), BUE and creatinine, Hepatitis B
                                viral load and Hepatitis B profile all prior to the initiation of the Anti retroviral
                                therapy (ART);
                            </li>
                        </ul>
                    </li>
                    <hr>
                    <li>
                        Transportation assistance for referred patients who have no money or relations to support them.
                    </li>
                    <li>
                        Support for small businesses of less privileged women
                    </li>
                    <li>
                        Provision of homeless shelter for poor women especially those under treacherous marriages and
                        head potters
                    </li>
                    <li>
                        Free health screening for hypertension, breast and cervical cancers, hepatitis B and diabetes
                        in rural areas for women
                    </li>
                    <li>
                        Provision of free post abortion care for less privileged women
                    </li>
                    <li>
                        Providing support in the area of logistics for trained traditional birth attendants in the
                        remote communities and further training on current health issues
                    </li>
                    <li>
                        Training of and support for women who wish to be trained as traditional birth attendants
                    </li>
                    <li>
                        We provide special support for mothers in treacherous marriages
                    </li>
                    <li>
                        Counselling services including youth empowerment.
                    </li>
                </ul>
            </p>
        </div>
        <div>
            <h4>
                Services By Juliana Holistic Healthcare Services Are By Integration And Therefore So Many Areas Are
                Tackled On The Field.
            </h4>
            <p>
                It involves both static and outreach services but for now outreach services are carried out more due to
                lack of funds.
                Detailed breakdown of services and what Juliana Holistic intend to do can be found in the attached
                document of Juliana Holistic Healthcare services.
                The greatest desire of the CEO of Juliana Holistic Healthcare services is to get a Holistic centre for
                static services which include:
                <ul style="padding: 0 20px;">
                    <li>
                        A clinic or Hospital that will help to sustain the vision
                    </li>
                    <li>
                        Farmlands
                    </li>
                    <li>
                        Homeless shelter to take care of some needy especially the disabled in society.
                    </li>
                    <li>
                        Rehabilitation centres for women facing serious family issues for counselling and training
                        to equip them to kick back in society
                    </li>
                    <li>
                        Training centre to empower the youth in vocational skills.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>
