<% layout('../layout') %>

<% block('title','Empowerment'); -%>

<section class="container">
    <div class="intro">
        <h4 class="display-4" style="font-family:'Oswald',sans-serif;text-align: center;">
            Empowerment Of Evangelist In The Country
        </h4>
        <ul style="padding: 0 20px;">
            <li>
                Empowerment of pastors and their wives in rural areas
            </li>
            <li>
                Engage communities in physical exercises that will better their health.
            </li>
            <li>
                Encourage members to register under the National Health Insurance Scheme (NHIS)
            </li>
        </ul>
    </div>
    <div class="section1a">
        <div>
            <h4>
                Empowerment of Rural Pastors and their Wives
            </h4>
            <p>
                The steps to follow will include;
                <ul style="padding: 0 20px;">
                    <li>
                        Liaising with the Christian brothers and sisters in the various districts and sub-districts
                        across the country, getting them together for meetings with seasoned ministers in the Christian
                        gospel ministry and through Christian colleges.
                    </li>
                    <li>
                        Know their strengths, weakness, opportunities, threats, challenges etc. so that Juliana’s
                        Holistic Healthcare Services will be well informed in the direction to give assistance and
                        support for the self-development of these pastors and their wives.
                    </li>
                    <li>
                        There will also be meetings for health educational talks through direct visits or through the
                        internet (i.e. Skype or any form of VoIP (voice over internet protocol))
                    </li>
                </ul>
            </p>
        </div>
        <div style="width: 100%; overflow: hidden; border-radius: 10px;">
            <img src="/images/ruralpastor.jpg" alt="Rural Pastors"
                style="width: 100%; transform: scale(1.09);">
        </div>
        <br>
        <div>
            <h4>Area To Support</h4>
            <ul style="padding: 0 20px;">
                <li>
                    Ministry trainings and further training in Bible School
                </li>
                <li>
                    Computer training
                </li>
                <li>Health education</li>
                <li>
                    Ensuring that all members are registered under (NHIS)</li>
                <li style="padding: 0 20px;">
                    Training them in administrative skills for Collection of data for example Data on:
                    <ul>
                        <li>Mothers(Womens)</li>
                        <li>Expectant mother (educated and non-educated)</li>
                        <li>
                            Single mothers (Employed and unemployed)
                        </li>
                        <li>
                            Widows
                        </li>
                        <li>
                            Men (working group, unemployed, educated & uneducated)
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h4>Other Support Services</h4>
            <ul style="padding: 0 20px;">
                <li>
                    Access to good mobile phones and laptops for fast communication.
                </li>
                <li>
                    Provision of building materials
                </li>
                <li>
                    Motor bikes
                </li>
                <li>
                    Vehicles to assist in evangelism
                </li>
                <li>
                    Mega phones
                </li>
                <li>
                    Generators
                </li>
                <li>
                    Acquisition of lands for farming to support the members and ministry.
                </li>
            </ul>
        </div>
    </div>
</section>
