<% layout('../layout') %>

<% block('title','Holistic Health'); -%>

<section class="container">
    <div class="intro">
        <h4 class="display-4" style="font-family:'Oswald',sans-serif;text-align: center;">Holistic Health Service</h4>
        <p>
            This service will cover every aspect of health service and
            education; i.e.
        </p>
    </div>
    <div>
        <h4>Health Educational Talks</h4>
        <p>
            This will involve both static and mobile forms of education where health educators will be at our
            holistic health care center and some deployed to rural, deprived and poor places throughout the country.<br>
            Our target is to be able to become a center where anyone can come and find answers to health issues that
            bothers them, be able to reach those who can’t reach us all around the country who need good health
            education and become the number one health education center in the country, with the hope of reducing
            illiteracy in health matters among the people of Ghana.
        </p>
    </div>

    <div class="girlchild" style="background-color: rgba(214, 213, 213, 0.651); border-radius: 10px; padding: 0 10px;"
        id="girlchild">
        <h4 style="text-align: center;">Girl Child Empowerment</h4>
        <p>
            The ability for the girl child in the Ghanaian society to make good positive choices and decisions which
            will assist and catapult her to great heights in her life and career, is of great concern and importance
            to us at Juliana’s Holistic Healthcare Services. We therefore plan to strategically position ourselves
            in society,so that we can be able to assist and support the girl child in the society by;

            <ol style="padding: 0 20px;">
                <li>Supporting them to learn a trade (e.g. seamstress, bead making, catering, hair dressing etc.)
                </li>
                <li>
                    We intend to create the opportunity for girls that drop out of school due to any reason, to
                    continue their education at any level (i.e. JHS, SHS or Tertiary)
                </li>
                <li>
                    We intend to create awareness on the harmful traditional practices (e.g. female genital
                    mutilation (FGM), trokosi etc.) and their harmful health effects
                </li>
                <li>
                    At Juliana’s Holistic Healthcare Services, the support we will provide for the girl child
                    will empower her so much that she can also be of assistance to other girls. We intend to support
                    the girl child in any way possible to make them self-dependent and resourceful enough so they
                    can become supporters to themselves, this we intend to achieve through (gospel lectures and
                    teachings from the scriptures on how to support the needy.)
                </li>
                <li>
                    Financial advisors will be invited periodically to Juliana’s Holistic Healthcare Service
                    center to give financial talks to the girls we will be supporting. They will be providing the
                    girls with information and directions on the best financial decisions to make as they begin to
                    become self-dependent and the best investment decisions to make so they can have a lifelong
                    financial freedom.
                </li>
                <li>
                    Under the girl child empowerment program we will be providing health educational talks on
                    topics like;
                    <ul class="row" style="padding: 0 10px;">
                        <div class="col-sm-4">
                            <li>Menstruation</li>
                            <li>Personal hygiene</li>
                            <li>Effects of teenage pregnancy</li>
                            <li>How to avoid teenage pregnancy</li>
                            <li>Avoiding early use of Contraceptives</li>
                            <li>What is Fistula and its effect on the girl child</li>
                        </div>
                        <div class="col-sm-4">
                            <li>Sexually transmitted infections (HIV/AIDS etc.)</li>
                            <li>Avoiding early marriages (i.e. being betrothed)</li>
                            <li>What is child abuse and domestic violence</li>
                            <li>The rights of the girl child and all children in Ghana</li>
                            <li>
                                Effects of bad traditional practices (e.g. Trokosi, female genital mutilation
                                etc.)
                            </li>
                            <li>
                                Education on the constitution of Ghana
                            </li>
                        </div>
                        <div class="col-sm-4">
                            <li>
                                Planning on expenses (plan the future now e.g. saving to buy a land)
                            </li>
                            <li>Environmental health</li>
                            <li>Abortion and its effects</li>
                            <li>Effects of multiple sex partners</li>
                            <li>Effects of premature sexual relationships etc.</li>
                        </div>
                    </ul>
                </li>
            </ol>
        </p>

        <div style="width: 100%; overflow: hidden; border-radius: 10px;">
            <img src="/images/girl_child.jpg" alt="School For Pregnant Women"
                style="width: 100%; transform: scale(1.09);">
        </div>
        <br>

        <div>
            <h5>Activities to be undertaken under the girl child empowerment program</h5>
            <ul class="row" style="padding: 0 10px;">
                <div class="col-sm-4">
                    <li>Hair dressing training</li>
                    <li>Seamstress training</li>
                    <li>Soap making training</li>
                </div>
                <div class="col-sm-4">
                    <li>Bead making training</li>
                    <li>Basket weaving training</li>
                    <li>Talent exploration (i.e. learning to play the piano, singing, dancing etc.)</li>
                </div>
                <div class="col-sm-4">
                    <li>Interior decorations training</li>
                    <li>Catering training</li>
                    <li>Creation of Girl Parliament (i.e. girls/ women in politics, know the constitution of
                        Ghana, have knowledge in public health)</li>
                </div>
            </ul>
        </div>
    </div>

    <div class="preg" style="background-color: rgba(175, 189, 166, 0.651); border-radius: 10px; padding: 10px 10px;"
        id="schoolforpregnantwomen">
        <h4 style="text-align: center;">School For Pregnant Women</h4>
        <p>
            Juliana’s Holistic Healthcare Services will also be creating a School for Pregnant Women, this school
            will be for the education of pregnant mothers especially first timers on the best maternal practices
            which will help make child birth a thing of ease and also safe. Our target is to reduce child birth
            mortality and preserve the best of health for both mother and child before and after birth.
        </p>

        <div style="width: 100%; overflow: hidden; border-radius: 10px;">
            <img src="/images/sch_for_preg.jpg" alt="School For Pregnant Women"
                style="width: 100%; transform: scale(1.09);">
        </div>
        <br>
        <h5>A list of topics under the School for Pregnant Women</h5>
        <ul class="row" style="padding: 0 20px; margin-left: 5px;">
            <li class="col-sm-6">
                <h6>Maternal Health Records</h6>
                <ul>
                    <li>
                        The importance of maternal health records
                    </li>
                    <li>
                        The importance of physical examinations
                    </li>
                    <li>
                        The importance of laboratory investigations
                    </li>
                    <li>
                        The importance of maternal health education
                    </li>
                    <li>
                        The importance of family support(i.e. husband or any family member)
                    </li>
                    <li>
                        Danger signs in pregnancy
                    </li>
                </ul>
            </li>
            <li class="col-sm-3">
                <h6>Birth Preparations</h6>
                <ul>
                    <li>The importance of preparations for a vehicle</li>
                    <li>The most important items to buy</li>
                </ul>
            </li>
            <li class="col-sm-3">
                <h6>Minor Ailments in Pregnancy</h6>
                <ul>
                    <li>Sexually Transmitted Infections and its prevention</li>
                    <li>Dangers in pregnancy</li>
                    <li>Malaria in pregnancyFamily Planning</li>
                </ul>
            </li>
        </ul>

        <p>
            There will also be the training for women in general and for those who will serve as assistance for
            pregnant mothers who cannot help themselves. This training will be for both women who have already had
            health training or education (Nurses) and those who have no knowledge at all about helping pregnant
            women. This will actually help in the creation of jobs for unemployed women and also serve as extra
            knowledge for nurses who have just come out of school and lack the much needed experience.
        </p>
        <p>
            These women will be trained in many different aspects of monitoring and assisting other women and
            pregnant mothers. These include;
            <ul style="padding: 0 10px;">
                <li>
                    Assisting them in breast feeding and support services
                </li>
                <li>
                    <h6>Keeping personal documents well</h6>
                    <ul style="padding: 0 10px;">
                        <li>
                            Certificates and documents for the women themselves (i.e. schools certificates, birth
                            certificates, receipts from hospitals, receipts from banks etc.)
                        </li>
                        <li>
                            Certificates and documents for the children (i.e. birth certificates, school
                            certificates, weighing cards, hospital receipts etc.)
                        </li>
                    </ul>
                </li>
                <li>
                    <h6>Keeping personal records well</h6>
                    <ul style="padding: 0 10px;">
                        <li>
                            How to keep a small notebook for all contact details and personal information (e.g. Bank
                            account numbers, voters ID number, passport information, contact information of relevant
                            or
                            important family members and friends)
                        </li>
                    </ul>
                </li>
                <li>
                    <h6>Encourage the registration of National Health Insurance Scheme (NHIS) for both mother and
                        child.</h6>
                </li>
            </ul>
        </p>
    </div>
</section>

<section class="container">
    <div style="background-color: rgba(214, 213, 213, 0.651); border-radius: 10px; padding: 10px 10px;margin: 10px 0;">
        <h4 style="text-align: center;">Surveillance for Non-Communicable Diseases</h4>
        <p>
            For churches, banks, schools, markets and many other institutes, this will take the form of screening
            programs for early detection as well as imploring internationally accepted procedures and methods for
            conducting effective surveillance.
            Non-communicable diseases are diseases that cannot be transmitted from one person to another, these
            include; Cancer, diabetes, cardiovascular diseases, obesity, diseases to mention a few.
        </p>
        <p>
            Non-communicable diseases are really a global burden, in 2004 there were 59 million deaths worldwide,
            non-communicable diseases accounted for 60% of these deaths and injuries and violence, 10%. It is
            estimated by the WHO that by 2020 non-communicable disease will account for more than 73% of all deaths.

            At Juliana’s Holistic Health Care Services, we use the World Health Organization’s (W.H.O)STEPwise
            approach to surveillance (STEPS) which is a simple, standardized method for collecting, analyzing and
            disseminating data in WHO countries which Ghana happens to be a member of, it is a survey with
            standardized questions and protocols, the approach encourages the collection of small amounts of useful
            information on a regular and continuing basis.
        </p>
        <p>
            By using this method and applying the same standardized questions and protocols, Juliana’s holistic
            healthcare services is able to collect enough data about these non-communicable diseases, which serves
            as information for monitoring and comparing trends within the country and then apply the necessary steps
            to bring about solutions to reduce them and if possible eradicate them.
        </p>
        <p>
            The purpose of the WHO STEPwise approach to chronic and non-communicable disease risk factor
            surveillance provides an entry point for low and middle income countries to get started on chronic and
            non-communicable disease surveillance activities, we at Juliana’s holistic healthcare service use this
            to build and strengthen our capacity to conduct surveillance.
            The STEPS instrument covers three different levels of “steps” of risk factor assessments. These are;
            <ul style="padding:0 10px; margin-left:5px ;">
                <li>Questionnaire</li>
                <li>Physical measurements</li>
                <li>Biochemical measurements</li>
            </ul>
        </p>
        <p>
            Juliana’s Holistic Healthcare Services has as its primary object to be a source of assistance for the
            needy and have-nots in the society and country as a whole, we intend to bridge the gap between the poor
            and their access to health service. We know how expensive it is for people in Ghana to attend for health
            care and also how illiteracy makes it difficult for many Ghanaians to visit health facilities to enquire
            about their health status, we therefore intend to use our Mobile Healthcare service as a means to
            conduct this surveillance for non-communicable diseases and also educate the people in every community
            we visit on essential healthy practices that will lead them to live much healthy lives.
        </p>
        <p>
            Here are some risk factors common to chronic and non-communicable disease conditions;
            <ol class="row" style="padding: 0 20px;margin-left: 5px;">
                <li class="col-sm-4">
                    <h6>Cardiovascular Diseases</h6>
                    <ul>
                        <li>Smoking</li>
                        <li>Alcohol</li>
                        <li>
                            Low fruit and vegetable intake
                        </li>
                        <li>Physical inactivity</li>
                        <li>Obesity</li>
                        <li>Raised blood pressure</li>
                        <li>Raised blood glucose</li>
                        <li>Abnormal blood lipids</li>
                    </ul>
                </li>
                <li class="col-sm-4">
                    <h6>Diabetes </h6>
                    <ul>
                        <li>Alcohol</li>
                        <li>Low fruit and vegetable intake</li>
                        <li>Physical inactivity</li>
                        <li>Obesity</li>
                        <li>Raised blood pressure</li>
                        <li>Raised blood glucose</li>
                        <li>Abnormal blood lipids</li>
                    </ul>
                </li>
                <li class="col-sm-4">
                    <h6>Cancer</h6>
                    <ul>
                        <li>Smoking</li>
                        <li>Alcohol</li>
                        <li>
                            Low fruit and vegetable intake
                        </li>
                        <li>Physical inactivity</li>
                        <li>Obesity</li>
                        <li>Raised blood glucose</li>
                        <li>Abnormal blood lipids</li>
                    </ul>
                </li>
            </ol>
        </p>
    </div>

    <div
        style="background-color:  rgba(175, 189, 166, 0.651); border-radius: 10px; padding: 10px 10px; margin: 10px 0;">
        <h4 style="text-align: center;">The WHO STEPwise Instrument at a glance</h5>
            <p><b>Steps Risk Factors</b></p>
            <div>
                <h5>STEP 1 - Behavioral</h5>
                <ul class="row" style="padding: 0 20px; margin-left: 5px;">
                    <li class="col-sm-4">
                        <h5>Core Items</h5>
                        <ul>
                            <li>
                                Basic demographic information, including age, sex, literacy and highest level of
                                education
                            </li>
                            <li>
                                Tobacco use
                            </li>
                            <li>
                                Alcohol consumption
                            </li>
                            <li>
                                Fruit and Vegetable consumption
                            </li>
                            <li>
                                Physical inactivity
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-4">
                        <h5>Expanded Items</h5>
                        <ul>
                            <li>
                                Expanded demographic information including, years at school, ethnicity, marital status,
                                employment status, household
                                income.
                            </li>
                            <li>
                                Smokeless tobacco use
                            </li>
                            <li>
                                Past 7 days drinking
                            </li>
                            <li>
                                Oil and fat consumption
                            </li>
                            <li>
                                History of blood pressure treatment for raised blood pressure
                            </li>
                            <li>
                                History of diabetes treatment, for diabetes
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm-4">
                        <h5>Optional Modules</h5>
                        <ul>
                            <li>
                                Mental health, intentional and unintentional injury and violence and oral health
                            </li>
                            <li>
                                Objective measure of physical activity behavior
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <h5>STEP 2 - Physical Measurements</h5>
                <ul class="row" style="padding: 0 20px; margin-left: 5px;">
                    <li class="col-sm-4">
                        <h5>Core Items</h5>
                        <ul>
                            <li>
                                Weight and height, waist circumference, blood pressure
                            </li>

                        </ul>
                    </li>
                    <li class="col-sm-4">
                        <h5>Expanded Items</h5>
                        <ul>
                            <li>
                                Hip circumference , heart rate
                            </li>

                        </ul>
                    </li>
                    <li class="col-sm-4">
                        <h5>Optional Modules</h5>
                        <ul>
                            <li>
                                Skin fold thickness, assessment of physical fitness
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <h5>STEP 3 - Biochemical measurements</h5>
                <ul class="row" style="padding: 0 20px; margin-left: 5px;">
                    <li class="col-sm-4">
                        <h5>Core Items</h5>
                        <ul>
                            <li>
                                Fasting blood sugar, total cholesterol
                            </li>

                        </ul>
                    </li>
                    <li class="col-sm-4">
                        <h5>Expanded Items</h5>
                        <ul>
                            <li>
                                Fasting HDL-cholesterol and triglycerides
                            </li>

                        </ul>
                    </li>
                    <li class="col-sm-4">
                        <h5>Optional Modules</h5>
                        <ul>
                            <li>
                                Oral glucose tolerance test, urine examination.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <p>
                    The above will be used as a tool to screen people for non-communicable disease.
                    Our target is to build outreach services that will be visiting rural villages and provide social
                    health services and education as well as conduct surveillance for non-communicable diseases
                    (NCD) in their homes as we engage them in interactive health discussion aimed at enlightening
                    both the aged and the young on relevant health matters related to chronic and non-communicable
                    diseases.
                </p>
            </div>
    </div>
</section>
