<% layout('../layout') %>

<% block('title','Humanitarian'); -%>

<section class="container">
    <div class="intro">
        <h4 class="display-4" style="font-family:'Oswald',sans-serif;text-align: center;">Humanitarian Service
        </h4>
        <p>
            Humanitarianism and philanthropy work have a way of serving as medicine to certain ailments that the
            traditional and orthodox medicines cannot cure. Juliana’s Holistic Healthcare Service has, as part of
            our programs to offer humanitarian services to the poor, deprived and underdeveloped ones among us in
            our society. Our humanitarian services would include :
            <ul style="padding: 0 20px;">
                <li>
                    Setting up a Holistic Centre to home street children as well as homeless ones so they can be
                    provided with a vocational skill or have their talents nurtured and improved for their own
                    benefit.
                </li>
                <li>
                    Setting up of a vocational institute for the unemployed youth.
                </li>
                <li>
                    Training of women in rural areas in health matters, Christianity and social empowerment.
                </li>
                <li>
                    Organize events to make donations for the aged, poor and widows.
                </li>
            </ul>
        </p>
    </div>
    <div class="section1a">
        <div>
            <h4>Support For The Needy And Poor</h4>
            <p>
                Assisting the needy in society is one of the major objectives of Juliana’s Holistic healthcare Services.
                We recognize the difficulty many in the society face in trying to acquire certain basic yet very
                essential needs in life; shelter, food and clothes. Now as part of our humanitarian services, Juliana’s
                Holistic Healthcare Services will be undertaking evangelism missions and be making donations to needy
                ones in society; here we will visit orphanages in rural communities to make donations of clothes, food
                and some financial assistance.
            </p>
            <p>
                We shall also support mothers and girls from broken homes who lack proper shelter, by providing them
                with temporary accommodation. This will help them focus on how to increase their economic gains, since
                they will be provided with places to lay their heads and also keep their personal belongings, thereby
                speeding up the process of them finding their own homes, plus the added benefit of acquiring a
                vocational skill.
            </p>
        </div>
        <div style="width: 100%; overflow: hidden; border-radius: 10px;">
            <img src="/images/humanitarian.jpg" alt="Humanitarian service"
                style="width: 100%; transform: scale(1.09);">
        </div>
        <br>
        <div>
            <h4>Maternal Health Activities To Be Conducted As A Support For The Needy</h4>
            <p>
                In our humanitarian services support and assistant for the needy, Juliana Holistic Healthcare Services
                has special concerns for maternal health support activities. For many years now Juliana Holistic
                Healthcare Services has noticed how the government of the Republic of Ghana has been making tremendous
                efforts in assisting women
            </p>
            <p>
                Pregnant women registered on the National Health Insurance scheme do not have to pay much to receive
                proper maternal healthcare, as a matter of fact registration unto the NHIS is free for pregnant women.
                However Juliana Holistic Healthcare Services recognizes that not everyone is able to gain access to
                these advantages and enjoy these privileges the republic of Ghana is providing for women, hence the
                special concern for maternal health support activities.
            </p>
            <p>
                We provide support and assistance to women through many ways and our main target are the poor,
                underprivileged and has not’s in society especially in rural areas. Our assistance and support
                activities include:
                <ul style="padding: 0 20px;">
                    <li>
                        Payment of hospital bills for poor underprivileged pregnant women
                    </li>
                    <li>
                        Free National Health Insurance Scheme registration for the poor (especially children and the
                        aged)
                    </li>
                    <li>
                        Support for school/exams fees for poor children
                    </li>
                    <li>
                        Support for medical examination fees for newly or unemployed pregnant women
                    </li>
                    <li>
                        Support for payment for laboratory investigations for poor HIV positive mothers who are to be
                        placed on ART’s (Anti Retroviral Therapy)
                    </li>
                    <li>
                        Support for payment for laboratory investigations for Hepatitis B mothers
                    </li>
                    <li>
                        Transportation assistance for referred patients who have no money or relations to support them.
                    </li>
                    <li>
                        Support for small businesses of less privileged women.
                    </li>
                    <li>
                        Provision of homeless shelter for poor women especially those under treacherous marriages and
                        head potters
                    </li>
                    <li>
                        Free health screening for hypertension, breast and cervical cancers, hepatitis B and diabetes
                        in rural areas for women
                    </li>
                    <li>
                        Provision of free post abortion care for less privileged women
                    </li>
                    <li>
                        Providing support in the area of logistics for trained traditional birth attendants in the
                        remote communities and further training on current health issues
                    </li>
                    <li>
                        Training of and support for women who wish to be trained as traditional birth attendants
                    </li>
                    <li>
                        We provide special support for mothers in treacherous marriages
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>